<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Artist Categories</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3">
                        <div class="carousel-inner">
                                <a href="#">
                                <%= image_tag "singers.jpg", class: "img-portfolio img-responsive" %>
                                   <div class="carousel-caption">
                                   Singers
                                   </div>
                                </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="carousel-inner">
                                <a href="#">
                                <%= image_tag "bands.jpg", class: "img-responsive" %>
                                   <div class="carousel-caption">
                                   Bands
                                   </div>
                                </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="carousel-inner">
                                <a href="#" >
                                <%= image_tag "DJs.jpg", class: "img-responsive" %>
                                   <div class="carousel-caption">
                                   DJs
                                   </div>
                                </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="carousel-inner">
                                <a href="#" >
                                <%= image_tag "comicartists.jpg", class: "img-responsive" %>
                                   <div class="carousel-caption">
                                   Comic Artists
                                   </div>
                                </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="carousel-inner">
                                <a href="#" >
                                <%= image_tag "magicians.jpg", class: "img-responsive" %>
                                   <div class="carousel-caption">
                                   Magicians
                                   </div>
                                </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="carousel-inner">
                                <a href="#" >
                                <%= image_tag "dancers.jpg", class: "img-responsive" %>
                                   <div class="carousel-caption">
                                   Dancers
                                   </div>
                                </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="carousel-inner">
                                <a href="#" >
                                <%= image_tag "instrumentalists.jpg", class: "img-responsive" %>
                                   <div class="carousel-caption">
                                   Instrumentalists
                                   </div>
                                </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="carousel-inner">
                                <a href="#" >
                                <%= image_tag "MCs.jpg", class: "img-responsive" %>
                                   <div class="carousel-caption">
                                   MCs
                                   </div>
                                </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <a href="#" class="btn btn-dark">Browse All</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
